html {
  font-family: "IBM Plex Sans", sans-serif;
}

.nearby {
  background-color: #eee;
}

header {
  background-color: #ddd;
}

.logo {
  max-width: 200px;
}

.searchbar {
  max-width: 100%;
}

.fff {
  background-color: #fff;
}

table {
  background-color: #efefef;
}

.park-id {
  width: 5em;
}

.park-type {
  width: 6em;
}

.age-group {
  width: 6em;
}

.swings {
  width: 6em;
}

.slides {
  width: 6em;
}

.seesaws {
  width: 6em;
}

.sandboxes {
  width: 6em;
}

.playhouse {
  width: 6em;
}

.searchbar {
  position: absolute;
}

.searchicon {
  position: relative;
  top: 50%;
}
