html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ddd;
}

.logo {
  max-width: 200px;
}

.fff {
  background-color: #fff;
}

table {
  background-color: #efefef;
}

.park-id {
  width: 5em
}

.park-type {
  width: 8em
}

.age-group {
  width: 6em
}

.swings {
  width: 6em
}

.slides {
  width: 6em
}

.seesaws {
  width: 6em
}

.sandboxes {
  width: 6em
}

.playhouse {
  width: 6em
}
