html {
  font-family: "IBM Plex Sans", sans-serif;
}

.nearby {
  background-color: #eee;
}

header {
  background-color: #ddd;
}

.logo {
  max-width: 200px;
}

.searchbar {
  position: relative;
  margin: 0;
}

.search {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}

.searchicon {
  position: absolute;
  bottom: 1px;
  left: 10px;
}

.fff {
  background-color: #fff;
}

table {
  background-color: #efefef;
}

.park-id {
  width: 5em;
}

.park-type {
  width: 6em;
}

.age-group {
  width: 6em;
}

.swings {
  width: 6em;
}

.slides {
  width: 6em;
}

.seesaws {
  width: 6em;
}

.sandboxes {
  width: 6em;
}

.playhouse {
  width: 6em;
}

@media only screen and (min-width: 90em) {

  .table-wrapper {
    overflow: visible;
  }

}
